# rewrite all requests to index.php
RewriteEngine On
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# php configuration
php_value charset UTF-8
